.quant-atual-baixa {
    background-color: rgba(255, 0, 0, 0.719);
    color: white;
}

.low-stock {
    color: red;
    cursor: pointer;
    position: relative;
  }

  .low-stock:hover::after {
    content: "Estoque baixo";
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    top: -25px;
    left: 0;
    white-space: nowrap;
    z-index: 10;
  }