header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--cor-primaria);
    color: white;
}

section#login{
    max-width: 500px;
    margin: auto;
}

.containerOpcoes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.contentPrimeiroAcesso{
    width: fit-content;
    margin: 30px auto;
}


