article#entradas{
    height: 63%;
}
#cadastroMassa{
    flex-direction: column; 
    width: 90%;
    margin: auto;
    max-width: 600px;
}

.dashboard-item-estoque{
    min-height: 50px !important;
    padding: 0;
    width: 80%;
    margin: 20px auto;
}

.dashboard-item-estoque h3{
    margin: 5px;
}
.dashboard-item-estoque p{
    margin: 5px;
}

#cadastroSimples input{
    width: 98%;
}

#formEditarLoja{
    margin-top: 2em;
}