:root {
  --cor-primaria: #4caf50;
  --cor-primaria-hover: #45a049;
  --cor-secundaria: #333;
  --cor-terciaria: #fcd848be;
  --cor-branco: #fff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
}

nav {
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  text-align: center;
  height: 100vh;
  width: 100%;
}

#menuButton {
  display: none;
}

header nav img {
  width: 90%;
  margin-top: 20px;
}

header h1.tituloMobile {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: block;
}

nav ul li a {
  color: var(--cor-branco);
  text-decoration: none;
  border: 1px solid var(--cor-terciaria);
  display: block;
  padding: 0.5em;
}

nav ul li a:hover {
  background-color: var(--cor-primaria-hover);
}

.logoMobile {
  display: none;
}

main {
  padding: 1em;
  width: 75%;
  margin: 0 auto;
}

section {
  background-color: var(--cor-branco);
  border: 1px solid var(--cor-secundaria);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

section h2 {
  text-align: center;
}

form {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.container-label-geral {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container-label {
  width: 300px;
}

form label {
  display: block;
  margin: 0.5em 0 0.2em;
}

form input {
  width: 100%;
  height: 1em;
  padding: 0.5em 0;
  margin-bottom: 1em;
}

form select {
  width: 100%;
  height: 35px;
  padding: 0.5em 0;
  margin-bottom: 1em;
}

form select#tipoUsuario {
  height: 66px;
}

form button {
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 20px auto 0;
  font-weight: bold;
  height: fit-content;
}

form button:hover {
  background-color: var(--cor-primaria-hover);
}

.filtro {
  display: flex;
  justify-content: right;
  margin-bottom: 1em;
}

.filtro label {
  margin-right: 0.2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}

table,
th,
td {
  border: 1px solid var(--cor-secundaria);
}

th,
td {
  padding: 0.2em;
  text-align: left;
}

th {
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  text-align: center;
}

tr:hover {
  background-color: #f5f5f5;
}

.acoes {
  text-align: center;
}

.tabela-container {
  max-height: 400px;
  overflow-y: auto;
}


button {
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1em;
}

button:hover,
#exportarCSV:hover {
  background-color: var(--cor-primaria-hover);
}

a.botaoAcao {
  margin-right: 10px;
  color: var(--cor-primaria);
  text-decoration: none;
}

footer {
  background-color: var(--cor-secundaria);
  color: var(--cor-branco);
  text-align: center;
  padding: 3px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.dashboard-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-branco);
    padding: 10px 20px;
    margin-bottom: 0.5em;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-height: 120px;
    min-width: 100px;
}

canvas {
  width: 85% !important;
  margin: 0 auto;
  padding: 0;
}


#fechar {
  display: none;
}

.alternador {
  position: relative;
  width: 200px;
  margin: 20px auto;
}

.seletor {
  display: flex;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 25px;
  overflow: hidden;
}

.opcao {
  flex: 1;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.opcao.ativo {
  color: #ff0000;
  font-weight: bold;
}

.opcao.inativo {
  color: var(--cor-primaria);
}

.indicador {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #45a0496c;
  border-radius: 25px;
  transition: transform 0.3s;
}

#exportarCSV {
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  border: none;
  border-radius: 5px;
  padding: 0.1em;
  cursor: pointer;
  margin-left: 0.2em;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--cor-branco);
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px; 
  border-radius: 10px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s; 
}

/* Animação de entrada */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Responsividade */
@media (max-width: 768px) {
  .main {
    display: block;
  }

  main {
    width: 90%;
  }
  header {
    display: flex;
    align-items: center;
    background-color: #4caf4f8a;
    padding: 0.5em;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 55%;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    text-align: center;
    display: none;
    z-index: 1;
  }

  #fechar {
    display: block;
    text-align: end;
    margin: 0;
    margin-right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: var(--cor-secundaria);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

  nav ul {
    list-style: none;
    padding: 0;
    flex-direction: column;
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    color: var(--cor-branco);
    text-decoration: none;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  #menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: 0 10px 2px 10px;
    font-size: 2em;
    cursor: pointer;
    height: 1.5em;
    position: fixed;
    left: 5px;
    top: 5px;
  }

  header h1 {
    text-align: center;
    width: 100%;
    margin-right: 60px;
    margin: 0;
  }

  header h1.tituloMobile {
    display: block;
  }

  .container-label-geral {
    flex-direction: column;
    align-items: center;
  }

  .headTabela {
    display: none;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  table {
    border: none;
  }

  td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    border: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }

  th::before,
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 10px;
    font-weight: bold;
  }

  tr {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--cor-secundaria);
    border-top: 1px solid var(--cor-secundaria);
  }
  tr:hover {
    background-color: #f5f5f500;
  }
  td:hover {
    background-color: #f5f5f5;
}
  .acoes {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

  footer {
    position: relative;
    bottom: 0;
  }
}
