:root {
  --cor-primaria: #4caf50;
  --cor-primaria-hover: #45a049;
  --cor-secundaria: #333;
  --cor-terciaria: #fcd848be;
  --cor-branco: #fff;
}


body, html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;  
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* -Menu- */
nav {
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#menuButton {
  display: none;
}

header{
  width: 30%;
}

header nav img {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

header h1.tituloMobile {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

nav ul li {
  display: block;
}

nav ul li a {
  color: var(--cor-branco);
  text-decoration: none;
  border: 1px solid var(--cor-terciaria);
  display: block;
  padding: 0.5em;
}

nav ul li a:hover {
  background-color: var(--cor-primaria-hover);
}

.logoMobile {
  display: none;
}

.usuario{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: .5em;
  margin: 80px auto;
  background-color: rgba(252, 255, 60, 0.219);
  border-radius: 5px;
  box-shadow: #333 1px 1px 10px;
}

.usuario p.usuario-nome {
  margin: 0 15px 0 0;
  padding: 0;
}

.usuario p.usuario-sair {
  margin: 0;
  padding: 0;
  font-size: .8em;
}

.usuario div:hover, .sair-icon:hover {
  color: var(--cor-secundaria);
  cursor: pointer;
}

.usuario-icon {
  font-size: 1.5em;
  color: #333;
  margin-right: 10px;
}

.sair-icon {
  cursor: pointer;
  font-size: 1.5em;
  color: #f30808;
  margin-left: 10px;
}

/* -- */
main {
  padding: 1em;
  width: 75%;
  margin: 0 auto;
}

section {
  background-color: var(--cor-branco);
  border: 1px solid var(--cor-secundaria);
  border-radius: 5px;
  height: calc(100% - 2em);
}

section h2 {
  text-align: center;
}

/* -Formularios- */
form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  border-radius: 5px;
  background-color: var(--cor-branco);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
}

form label {
  display: block;
  margin: 0.5em 0 0.2em;
}

form input, form select, form input[type="date"] {
  width: 100%;
  height: 1em;
  padding: 0.5em .2em;
  margin-bottom: 1em;
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
}



form select {
  width: 100%;
  height: 28.75px;
  padding: 0.45em 0;
  margin-bottom: 1em;
}




form button {
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 20px auto 0;
  font-weight: bold;
  height: fit-content;
}

form button:hover {
  background-color: var(--cor-primaria-hover);
}

/* -filtro e alternador- */
.filtro {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 0, 0.514);
  padding: 10px 0;
}


.filtro label {
  margin-right: 0.2em;
  font-weight: bold;
}

.exportarCSV {
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  border: none;
  border-radius: 5px;
  padding: .3em;
  cursor: pointer;
  margin-left: .3em;
  margin-right: 10%;
}

#fechar {
  display: none;
}

.alternador {
  position: relative;
  width: 200px;
  margin: 20px auto;
}

.seletor {
  display: flex;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 25px;
  overflow: hidden;
}

.opcao {
  flex: 1;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: bold;
}

.opcao.ativo {
  color: #ff0000;
}

.opcao.inativo {
  color: var(--cor-primaria);
}

.indicador {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #45a0496c;
  border-radius: 25px;
  transition: transform 0.3s;
}

/* -Tabelas- */
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;

}

table,
th,
td {
  border: 1px solid var(--cor-secundaria);
}

th,
td {
  padding: 0.3em;
  text-align: left;
}

th {
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  text-align: center;
}

tr:hover {
  background-color: #f5f5f5;
}

.acoes {
  text-align: center;
}

.tabela-container {
  max-height: 460px;
  overflow-y: auto;
  margin: 0 auto;
  position: relative;
  min-width: 60%;
  width: fit-content;
}

.tabela-container .headTabela {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--cor-terciaria);
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.paginacao button {
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 0 0.5em;
}

.paginacao button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginacao span {
  margin: 0 1em;
}


/* -Botão- */
button {
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1em;
}

button:hover,
.exportarCSV:hover {
  background-color: var(--cor-primaria-hover);
}

a.botaoAcao {
  margin-right: 10px;
  color: var(--cor-primaria);
  text-decoration: none;
}

/* -Relatorios- */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.dashboard-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-branco);
    padding: 10px 20px;
    margin-bottom: 0.5em;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-height: 120px;
    min-width: 100px;
}

canvas {
  width: 85% !important;
  margin: 0 auto;
  padding: 0;
}

/* -Modal- */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;  
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  justify-content: center; 
  align-items: center; 
}

.modalContent {
  background-color: white; 
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  max-width: 500px;
  width: 80%; 
}

.fechar{
  display: flex;
  justify-content: end;
}

.fechar i{
  text-decoration: none;
  color: var(--cor-primaria);
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3em;
}

/* -Footer- */
footer {
  background-color: var(--cor-secundaria);
  color: var(--cor-branco);
  text-align: center;
  padding:  0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 0.5em;
}

/* Animação de entrada */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Responsividade Tablet */
@media (max-width: 1000px) {
  html{
    height: fit-content;
  }

  .main {
    display: block;
    flex: 1;
  }

  main {
    width: 90%;
  }

  header {
    display: flex;
    align-items: center;
    background-color: #4caf4f8a;
    padding: 0.7em 0;
    width: 100%;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 55%;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    text-align: center;
    display: none;
    z-index: 1000;
  }

  #fechar {
    display: block;
    text-align: end;
    margin: 0;
    margin-right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: var(--cor-secundaria);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

  nav ul {
    list-style: none;
    padding: 0;
    flex-direction: column;
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    color: var(--cor-branco);
    text-decoration: none;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  #menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: 0 10px 2px 10px;
    font-size: 2em;
    cursor: pointer;
    height: 1.5em;
    position: fixed;
    left: 5px;
    top: 5px;
  }

  header h1 {
    text-align: center;
    width: 100%;
    margin-right: 60px;
    margin: 0;
  }

  header h1.tituloMobile {
    display: block;
  }
}

/* Responsividade Mobile*/
@media (max-width: 768px) {
  form{
    width: 90%;
  }
  .headTabela {
    display: none;
  }

  .tabela-container{
    width: 95%;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  table {
    border: none;
    min-width: 60%;
  }

  td {
    text-align: right;
    padding-left: 45%;
    position: relative;
    border: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }

  

    
  th::before,
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 10px;
    font-weight: bold;
  }

  tr {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--cor-secundaria);
    border-top: 1px solid var(--cor-secundaria);
  }
  tr:hover {
    background-color: #f5f5f500;
  }
  td:hover {
    background-color: #f5f5f5;
}
  .acoes {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

  footer {
    position: relative;
  }
}
