<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Oferte e Ganhe</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../style/geral.css">
    <link rel="stylesheet" href="../style/adm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../js/adm/main.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="main">
        <header>
            <nav id="menu">
                <span id="fechar" onclick="mostrarMenu()">&times;</span>
                <img src="../img/logo.png" alt="logo">
                <h1>Oferte e Ganhe</h1>
                <ul>
                    <li><a href="#" id="mostrarEnvioTaloes"><i class="fas fa-shipping-fast"></i> Gestão de Envios</a></li>
                    <li><a href="#" id="mostrarManutencao"><i class="fas fa-tools"></i> Manutenção de Envios</a></li>
                    <li><a href="#" id="mostrarEstoque"><i class="fas fa-boxes"></i> Gestão de Estoque</a></li>
                    <li><a href="#" id="mostrarLojas"><i class="fas fa-store"></i> Gestão de Lojas</a></li>
                    <li><a href="#" id="mostrarPerfil"><i class="fas fa-user-cog"></i> Gestão de Perfil de Acesso</a></li>
                    <li><a href="#" id="mostrarRelatorio" class="ativo"><i class="fas fa-chart-line"></i> Dashboard</a></li>
                </ul>
                <div class="usuario">
                    <i class="fas fa-user usuario-icon" ></i> 
                    <div id="usuario-info">
                        <p id="usuario-nome"></p>
                        <p id="usuario-matricula"></p>
                    </div>
                    <div id="sair-usuario">
                        <i class="fas fa-sign-out-alt sair-icon" id="sair"></i>
                        <p class="usuario-sair">Sair</p>
                    </div> 
                </div>
            </nav>
            <button id="menuButton" onclick="mostrarMenu()">&#9776;</button>
            <h1 class="tituloMobile">Oferte e Ganhe</h1>
        </header>

        <main>
            <section id="envioTaloes" style="display: none;">
                <h2>Envio de Talões</h2>
                <form id="formEnvioTalao">
                    <label for="lojaDestinataria">Loja Destinatária:</label>
                    <select id="lojaDestinataria" name="lojaDestinataria" required>
                    </select>

                    <div class="grid-container-label">
                        <div class="container-label">
                            <label for="dataHoraEvento">Data/Hora do Envio:</label>
                            <input type="datetime-local" id="dataHoraEvento" name="dataHoraEvento" required>
                        </div>
                        <div class="container-label">
                            <label for="quantidadeTaloes">Quantidade de Talões:</label>
                            <input type="number" id="quantidadeTaloes" name="quantidadeTaloes" required>
                        </div>
                    </div>

                    <div class="grid-container-label">
                        <div class="container-label">
                            <label for="funcionarioRecebimento">Funcionário a Receber:</label>
                            <select id="funcionarioRecebimento" name="funcionarioRecebimento" required>
                            </select>
                        </div>
                        <div class="container-label">
                            <label for="dataEntregaPrevista">Data de Entrega Prevista:</label>
                            <input type="date" id="dataEntregaPrevista" name="dataEntregaPrevista" required>
                        </div>
                    </div>
                    <button type="submit" id="submitButtonTalao">Registrar Envio</button>
                </form>
            </section>

            <section id="estoque" style="display: none;">
                <h2>Gestão de Estoque</h2>
                <div class="filtro-container">
                    <div id="mostrarFiltroEstoque" class="mostrarFiltro" >
                        <Label>Filtros:</Label>
                        <i class="fas fa-chevron-down iconeFiltro"  onclick="mostrarFiltros('opcoesFiltroEstoque', 'mostrarFiltroEstoque')"></i>
                    </div>
                    <div class="filtro" id="opcoesFiltroEstoque">
                        <div class="container-nome">
                            <label for="filtrarNomeLoja">Loja:</label>
                            <input type="text" name="filtrarNomeLoja" id="filtrarNomeLoja">
                        </div>
                        <div class="container-selects">
                            <label for="ordenarQntEstoque">Qnt:</label>
                            <select id="ordenarQntEstoque" name="ordenarQntEstoque">
                                <option value="asc">Menor</option>
                                <option value="desc">Maior</option>
                            </select>
                            <label for="filtroLojaEstoque">Loja:</label>
                            <select id="filtroLojaEstoque" name="filtroLojaEstoque">
                                <option value="asc">A - Z</option>
                                <option value="desc">Z - A</option>
                            </select>
                        </div>
                    </div>
                    <button id="exportarEstoque" class="exportarCSV">Exportar</button>
                </div>
                <div class="tabela-container">
                    <table>
                        <thead class="headTabela">
                            <tr>
                                <th>Loja</th>
                                <th>Qnt. Recomendado</th>
                                <th>Qnt. Mínimo</th>
                                <th>Qnt. Atual</th>
                            </tr>
                        </thead>
                        <tbody id="estoque-tbody">
                        </tbody>   
                    </table>
                </div>
                <div class="paginacao">
                    <button id="pagAnt" disabled><i class="fas fa-chevron-left"></i> Anterior</button>
                    <span id="pagInfo"></span>
                    <button id="proxPag">Próxima <i class="fas fa-chevron-right"></i></button>
                </div>
            </section>
        
            <section id="manutencao" style="display: none;">
                <h2>Manutenção de Remessa</h2>
                <div class="filtro-container">
                    <div id="mostrarFiltroManutencao" class="mostrarFiltro">
                        <Label>Filtros:</Label>
                        <i class="fas fa-chevron-down iconeFiltro"  onclick="mostrarFiltros('opcoesFiltroManutencao', 'mostrarFiltroManutencao')"></i>
                    </div>
                    <div class="filtro" id="opcoesFiltroManutencao">
                        <div class="container-nome">
                            <label for="filtroManutencaoNomeLoja">Loja:</label>
                            <input type="text" name="filtroManutencaoNomeLoja" id="filtroManutencaoNomeLoja">
                        </div>

                        <div class="container-selects">
                            <label for="filtroLojaManutencao">Loja:</label>
                            <select id="filtroLojaManutencao" name="filtroLojaManutencao">
                                <option value="asc">A - Z</option>
                                <option value="desc">Z - A</option>
                            </select>
                            <label for="filtroStatusManutencao" style="margin-left: .3em;">Status:</label>
                            <select id="filtroStatusManutencao" name="filtroStatusManutencao">
                                <option value="todas">Todas</option>
                                <option value="enviado">Enviado</option>
                                <option value="recebido">Recebido</option>
                            </select>
                        </div>
                    </div>
                    <button id="exportarManutencao" class="exportarCSV">Exportar</button>
                </div>

                <div class="tabela-container">
                    <table>
                        <thead class="headTabela">
                            <tr>
                                <th>Remessa</th>
                                <th>Data do Envio</th>
                                <th>Loja Destino</th>
                                <th>Quant</th>
                                <th>Recebimento</th>
                                <th>Data de Entrega</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody id="manutencao-tbody">
                        </tbody>
                    </table>
                </div>
                <div class="paginacao">
                    <button id="pagAntManutencao" disabled><i class="fas fa-chevron-left"></i> Anterior</button>
                    <span id="pagInfoManutencao"></span>
                    <button id="proxPagManutencao">Próxima <i class="fas fa-chevron-right"></i></button>
                </div>
            </section>

            <section id="perfil" style="display: none;">
                <div class="alternador" style="width: 300px;">
                    <div class="seletor">
                      <div id="usuarios" class="opcao ativo">Usuários</div>
                      <div id="cadastroUsuario" class="opcao inativo">Cadastrar</div>
                      <div id="perfis" class="opcao inativo">Perfil</div>
                      <div class="indicador" id="indicadorPerfis" style="width: 33%;"></div>
                    </div>
                </div>

                <article id="seletorUsuarios">
                    <h2>Perfis de Usuario</h2>
                    <div class="filtro-container">
                        <div id="mostrarFiltroContainer" class="mostrarFiltro" >
                            <Label>Filtros:</Label>
                            <i class="fas fa-chevron-down iconeFiltro"  onclick="mostrarFiltros('opcoesFiltro', 'mostrarFiltroContainer')"></i>
                        </div> 
                        <div class="filtro" id="opcoesFiltro">
                            <div class="container-nome">
                                <label for="filtroUsuarioPerfis">Nome:</label>
                                <input type="text" name="filtroUsuarioPerfis" id="filtroUsuarioPerfis">
                            </div>
                        
                            <div class="container-selects">
                                <label for="ordenarUsuario">Nome:</label>
                                <select id="ordenarUsuario" name="ordenarUsuario">
                                    <option value="asc">A - Z</option>
                                    <option value="desc">Z - A</option>
                                </select>
                                <label for="ordenarLojaUsuario">Loja:</label>
                                <select id="ordenarLojaUsuario" name="ordenarLojaUsuario">
                                    <option value="asc">A - Z</option>
                                    <option value="desc">Z - A</option>
                                </select>
                            </div>
                        </div>
                        <button id="exportarPerfis" class="exportarCSV" onclick="exportarCsv()">Exportar</button>
                    </div>

                    <div class="tabela-container">
                        <table>
                            <thead class="headTabela">
                                <tr>
                                    <th>Matricula</th>
                                    <th>Nome</th>
                                    <th>Tipo usuário</th>
                                    <th>Loja</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody id="usuarios-tbody">    
                            </tbody>
                        </table>
                    </div>
                    <div class="paginacao">
                        <button id="pagAntUsuarios" disabled><i class="fas fa-chevron-left"></i> Anterior</button>
                        <span id="pagInfoUsuarios"></span>
                        <button id="proxPagUsuarios">Próxima <i class="fas fa-chevron-right"></i></button>
                    </div>
                </article>

                <article id="seletorCadastro"  style="display: none;">
                    <h2>Cadastro de Usuário</h2>
                    <form id="formCadUsuario">
                        <label for="matriculaUsuario">Matricula do Usuario:</label>
                        <input type="text" id="matriculaUsuario" name="matriculaUsuario" required>
                        
                        <label for="nomeUsuario">Nome do Usuario:</label>
                        <input type="text" id="nomeUsuario" name="nomeUsuario" required>

                        <label for="tipoUsuario">Tipo Perfil:</label>
                        <select id="tipoUsuario" name="tipoUsuario">
                        </select>
                        
                        <label for="lojaUsuario">Loja:</label>
                        <select id="lojaUsuario" name="lojaUsuario">
                        </select>
                        <button type="submit" id="submitButtonUser">Salvar Usuário</button>
                    </form>
                </article>

                <article id="seletorPerfis" style="display: none;">
                    <h2>Perfis de Acesso</h2>
                    <div class="tabela-container" style="height: 80%;">
                        <button id="mostrarCadastrarPerfil" class="exportarCSV" style="margin-bottom: .5em;">Add Perfil</button>
                        <table id="tabelaPerfis">
                            <thead class="headTabela">
                                <tr>
                                    <th>Nome</th>
                                    <th>Permissões</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody id="perfis-tbody">
                            </tbody>
                        </table>
                    </div>
                </article>
                
                <article class="modal" id="addPerfil">
                    <aside class="modalContent">
                        <div class="fechar">
                            <i class="fas fa-times close-icon" id="fecharMostrarAddPerfil"></i>
                        </div>
                        <h2>Cadastrar Perfil</h2>
                        <form id="perfilCadastroForm">
                            <label for="nomePerfil">Nome do Perfil:</label>
                            <input type="text" id="nomePerfil" name="nomePerfil" required>

                            <label for="permissoesPerfil">Permissões:</label>
                            <div class="tabela-container">
                                <table >
                                    <thead class="headTabela">
                                        <tr>
                                            <th>Módulo</th>
                                            <th>Leitura</th>
                                            <th>Escrita</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Todas as permissões -->
                                        <tr>
                                            <td data-label="Módulo">Todas</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Todas"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Todas"></td>
                                        </tr>
                                        <!-- Perfis -->
                                        <tr>
                                            <td data-label="Módulo">Perfis</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Perfis"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Perfis"></td>
                                        </tr>
                                        <!-- Permissões -->
                                        <tr>
                                            <td data-label="Módulo">Permissões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Permissões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Permissões"></td>
                                        </tr>
                                        <!-- Usuários -->
                                        <tr>
                                            <td data-label="Módulo">Usuários</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Usuarios"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Usuarios"></td>
                                        </tr>
                                        <!-- Lojas -->
                                        <tr>
                                            <td data-label="Módulo">Lojas</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Lojas"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Lojas"></td>
                                        </tr>
                                        <!-- Estoque -->
                                        <tr>
                                            <td data-label="Módulo">Estoque</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Estoque"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Estoque"></td>
                                        </tr>
                                        <!-- Envio Talões -->
                                        <tr>
                                            <td data-label="Módulo">Envio Talões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Envio Talões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Envio Talões"></td>
                                        </tr>
                                        <!-- Saída Talões -->
                                        <tr>
                                            <td data-label="Módulo">Saída Talões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Saída Talões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Saída Talões"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" id="submitButtonPerfil">Salvar Perfil</button>
                        </form>
                    </aside>
                </article>


                <article class="modal" id="modalVisualizarPermissoes">
                    <aside class="modalContent">
                        <div class="fechar">
                            <i class="fas fa-times close-icon" id="fecharModalVisualizarPermissoes"></i>
                        </div>
                        <h2 id="nomePerfilTitulo"></h2>
                        <div class="tabela-container">
                            <table>
                                <thead class="headTabela">
                                    <tr>
                                        <th>Funcionalidade</th>
                                        <th>Leitura</th>
                                        <th>Escrita</th>
                                    </tr>
                                </thead>
                                <tbody id="corpoTabelaPermissoes">
                                    <!-- Todas as permissões -->
                                    <tr>
                                        <td data-label="Módulo">Todas</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Todas"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Todas"></td>
                                    </tr>
                                    <!-- Perfis -->
                                    <tr>
                                        <td data-label="Módulo">Perfis</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Perfis"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Perfis"></td>
                                    </tr>
                                    <!-- Permissões -->
                                    <tr>
                                        <td data-label="Módulo">Permissões</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Permissões"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Permissões"></td>
                                    </tr>
                                    <!-- Usuários -->
                                    <tr>
                                        <td data-label="Módulo">Usuários</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Usuarios"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Usuarios"></td>
                                    </tr>
                                    <!-- Lojas -->
                                    <tr>
                                        <td data-label="Módulo">Lojas</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Lojas"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Lojas"></td>
                                    </tr>
                                    <!-- Estoque -->
                                    <tr>
                                        <td data-label="Módulo">Estoque</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Estoque"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Estoque"></td>
                                    </tr>
                                    <!-- Envio Talões -->
                                    <tr>
                                        <td data-label="Módulo">Envio Talões</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Envio Talões"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Envio Talões"></td>
                                    </tr>
                                    <!-- Saída Talões -->
                                    <tr>
                                        <td data-label="Módulo">Saída Talões</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Saída Talões"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Saída Talões"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </aside>
                </article>

                <article class="modal" id="modalEditPerfil">
                    <aside class="modalContent">
                        <div class="fechar">
                            <i class="fas fa-times close-icon" id="fecharModalEditPermissoes"></i> 
                        </div>
                        <h2 id="nomePerfilTituloEdit"></h2>
                        <form id="formSalvarEditarPermissoes">
                            <div class="tabela-container">
                                <table >
                                    <thead class="headTabela">
                                        <tr>
                                            <th>Funcionalidade</th>
                                            <th>Leitura</th>
                                            <th>Escrita</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Todas as permissões -->
                                        <tr>
                                            <td data-label="Módulo">Todas</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Todas"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Todas"></td>
                                        </tr>
                                        <!-- Perfis -->
                                        <tr>
                                            <td data-label="Módulo">Perfis</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Perfis"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Perfis"></td>
                                        </tr>
                                        <!-- Permissões -->
                                        <tr>
                                            <td data-label="Módulo">Permissões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Permissões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Permissões"></td>
                                        </tr>
                                        <!-- Usuários -->
                                        <tr>
                                            <td data-label="Módulo">Usuários</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Usuarios"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Usuarios"></td>
                                        </tr>
                                        <!-- Lojas -->
                                        <tr>
                                            <td data-label="Módulo">Lojas</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Lojas"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Lojas"></td>
                                        </tr>
                                        <!-- Estoque -->
                                        <tr>
                                            <td data-label="Módulo">Estoque</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Estoque"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Estoque"></td>
                                        </tr>
                                        <!-- Envio Talões -->
                                        <tr>
                                            <td data-label="Módulo">Envio Talões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Envio Talões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Envio Talões"></td>
                                        </tr>
                                        <!-- Saída Talões -->
                                        <tr>
                                            <td data-label="Módulo">Saída Talões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Saída Talões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Saída Talões"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" id="submitButtonPerfilPermissoes">Salvar Permissões</button>
                        </form>
                    </aside>
                </article>    
            </section>

            <section id="lojas" style="display: none;">
                <div class="alternador">
                    <div class="seletor">
                      <div id="todasLojas" class="opcao ativo">Todos</div>
                      <div id="cadastroLoja" class="opcao inativo">Cadastrar</div>
                      <div class="indicador" id="indicadorLojas"></div>
                    </div>
                </div>
                
                <article id="seletorLojas">
                    <h2>Lojas Quero Quero</h2>
                    <div class="filtro-container">
                        <label for="filtroLojaLojas">Loja:</label>
                        <select id="filtroLojaLojas" name="filtroLojaLojas">
                            <option value="asc">A - Z</option>
                            <option value="desc">Z - A</option>
                        </select>
                        <button id="exportarLojas" class="exportarCSV">Exportar</button>
                    </div>
                    
                    <div class="tabela-container">
                        <table>
                            <thead class="headTabela">
                                <tr>
                                    <th>Codigo</th>
                                    <th>Loja</th>
                                    <th>Gerente</th>
                                    <th>Qnt. Recomendada</th>
                                    <th>Qnt. Mínima</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody id="lojas-tbody">
                              </tbody>
                        </table>
                    </div>
                    <div class="paginacao">
                        <button id="pagAntLojas" disabled><i class="fas fa-chevron-left"></i> Anterior</button>
                        <span id="pagInfoLojas"></span>
                        <button id="proxPagLojas">Próxima <i class="fas fa-chevron-right"></i></button>
                    </div>
                </article>

                <article id="seletorCadastroLoja" style="display: none;">
                    <h2>Cadastro de Loja</h2>
                    <form id="formSalvarLoja">
                        <label for="novaLoja">Nome da Loja:</label>
                        <input type="text" id="novaLoja" name="novaLoja">
                        <label for="enderecoLoja">Endereço:</label>
                        <input type="text" id="enderecoLoja" name="enderecoLoja">
                        <label for="telefoneLoja">Telefone:</label>
                        <input type="tel" id="telefoneLoja" name="telefoneLoja">
                        <button type="submit" id="submitButtonLoja">Salvar Loja</button>
                    </form>
                </article>
            </section>

            <section id="relatorios">
                <h2>Relatórios</h2>
                <div class="alternador">
                    <div class="seletor">
                      <div id="mostrarTabelas" class="opcao ativo">Geral</div>
                      <div id="mostrarGrafico" class="opcao inativo">Evolução</div>
                      <div class="indicador" id="indicadorRelatorios"></div>
                    </div>
                </div>

                <div class="filtro-container" style="margin-top: 1em;">
                    <button id="exportarRelatorios" class="exportarCSV" onclick="exportarCsv()">Exportar</button>
                </div>
                
                <div class="dashboard-grid" id="seletorTabela" >
                    <div style="height: fit-content; margin: 0 5px;">
                        <div class="coluna" style="display: flex; justify-content: space-around;">
                            <div class="dashboard-item dashboard-item-mob">
                                <h3>Total de Usuários</h3>
                                <p id="usuariosTotais">0</p>
                            </div>
                            <div class="dashboard-item dashboard-item-mob">
                                <h3>Total de Lojas</h3>
                                <p id="lojasTotais"></p>
                            </div>
                        </div>

                        <div class="dashboard-item dashboard-item-mob">
                            <h3>Enviados Outubro</h3>
                            <p id="enviadosTotais"></p>
                        </div>
                    </div>

                    <div class="dashboard-item dashboard-item-mob-estoque">
                        <h3>Estoque Baixo</h3>
                        <table>
                            <thead class="headTabela">
                                <tr>
                                    <th>Loja</th>
                                    <th>Quant</th>
                                    <th>Quant Min</th>
                                    <th>Enviar</th>
                                </tr>
                            </thead>
                            <tbody id="corpoTabelaEstoqueBaixo">
                            </tbody>
                        </table>
                    </div>
                </div>
                <canvas id="enviosChart" style="display: none;"></canvas>
                
            </section>

            <section id="perfilUsuario" style="display: none;">
                <h2 id="nome_usuario"></h2>
                <p id="perfil_usuario"></p>
                <form id="formEditUsuario">
                    <div class="container-labe">
                        <label for="matricula">Matricula:</label>
                        <input type="text" name="matricula" id="matricula" disabled>
                    </div>
                    <div class="container-labe">
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" id="nome" >
                    </div>
                    <div class="container-labe">
                        <label for="email">E-mail:</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="container-labe">
                        <label for="workplace">Workplace:</label>
                        <input type="workplace" name="email" id="workplace" >
                    </div>
                    <div class="container-labe">
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" value="**********" disabled>
                    </div>
                    <button type="submit" id="submitButtonPerfilUsuario">Salvar</button>
                </form>
            </section>

        </main>
    </div>
    <footer>
        <p>Quero-Quero 2024 | todos os direitos reservados</p>
    </footer>
</body>
</html>