<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Caixa</title>
  <script src="permissoes.js"></script>
  <script>
    const perfilAcesso = {
        id_perfil_acesso: 1,
        perfil_descricao: "Administrador",
        permissoes_leitura: ["CadastroUsuario", "Caixa", "Perfis", "CadastroPerfis"],
        permissoes_escrita: ["CadastroUsuario", "Caixa", "Perfis", "CadastroPerfis"]
    };
    // Verificar permissão para acessar esta página
  </script>
</head>
<body>
  <h1>Caixa</h1>
  <!-- Conteúdo da página -->
</body>
</html>