<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque de Lojas</title>
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../style/geral.css">
    <link rel="stylesheet" href="../../style/adm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../../js/adm/script/estoque.js" type="module"></script>
    <script src="../../js/adm/menu.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="main">
        <header>
            <nav id="menu">
                <span id="fechar">&times;</span>
                <img src="../img/logo.png" alt="logo">
                <h1>Oferte e Ganhe</h1>
                <ul>
                    <li><a href="#" id="mostrarEnvioTaloes"><i class="fas fa-shipping-fast"></i> Gestão de Envios</a></li>
                    <li><a href="#" id="mostrarManutencao"><i class="fas fa-tools"></i> Manutenção de Envios</a></li>
                    <li><a href="#" id="mostrarEstoque" class="ativo"><i class="fas fa-boxes"></i> Gestão de Estoque</a></li>
                    <li><a href="#" id="mostrarLojas"><i class="fas fa-store"></i> Gestão de Lojas</a></li>
                    <li><a href="#" id="mostrarPerfil"><i class="fas fa-user-cog"></i> Gestão de Perfil de Acesso</a></li>
                    <li><a href="#" id="mostrarRelatorio" ><i class="fas fa-chart-line"></i> Dashboard</a></li>
                </ul>
                <div class="usuario">
                    <i class="fas fa-user usuario-icon" ></i> 
                    <div id="usuario-info">
                        <p id="usuario-nome"></p>
                        <p id="usuario-matricula"></p>
                    </div>
                    <div id="sair-usuario">
                        <i class="fas fa-sign-out-alt sair-icon" id="sair"></i>
                        <p class="usuario-sair">Sair</p>
                    </div> 
                </div>
            </nav>
            <button id="menuButton" >&#9776;</button>
            <h1 class="tituloMobile">Oferte e Ganhe</h1>
        </header>

        <main>
            <section id="estoque">
                <h2>Gestão de Estoque</h2>
                <div class="filtro-container">
                    <div id="mostrarFiltroEstoque" class="mostrarFiltro" >
                        <Label>Filtros:</Label>
                        <i class="fas fa-chevron-down iconeFiltro"  onclick="mostrarFiltros('opcoesFiltroEstoque', 'mostrarFiltroEstoque')"></i>
                    </div>
                    <div class="filtro" id="opcoesFiltroEstoque">
                        <div class="container-nome">
                            <label for="filtrarNomeLoja">Loja:</label>
                            <input type="text" name="filtrarNomeLoja" id="filtrarNomeLoja">
                        </div>
                        <div class="container-selects">
                            <label for="ordenarQntEstoque">Qnt:</label>
                            <select id="ordenarQntEstoque" name="ordenarQntEstoque">
                                <option value="asc">Menor</option>
                                <option value="desc">Maior</option>
                            </select>
                            <label for="filtroLojaEstoque">Loja:</label>
                            <select id="filtroLojaEstoque" name="filtroLojaEstoque">
                                <option value="asc">A - Z</option>
                                <option value="desc">Z - A</option>
                            </select>
                        </div>
                    </div>
                    <button id="exportarEstoque" class="exportarCSV">Exportar</button>
                </div>
                <div class="tabela-container">
                    <table>
                        <thead class="headTabela">
                            <tr>
                                <th>Loja</th>
                                <th>Qnt. Recomendado</th>
                                <th>Qnt. Mínimo</th>
                                <th>Qnt. Atual</th>
                            </tr>
                        </thead>
                        <tbody id="estoque-tbody">
                        </tbody>   
                    </table>
                </div>
                <div class="paginacao">
                    <button id="pagAnt" disabled><i class="fas fa-chevron-left"></i> Anterior</button>
                    <span id="pagInfo"></span>
                    <button id="proxPag">Próxima <i class="fas fa-chevron-right"></i></button>
                </div>
            </section>
        </main>
    </div>
    <footer>
        <p>Quero-Quero 2024 | todos os direitos reservados</p>
    </footer>
</body>
</html>