<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lojas</title>
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../style/geral.css">
    <link rel="stylesheet" href="../../style/adm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../../js/adm/script/lojas.js" type="module"></script>
    <script src="../../js/adm/menu.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="main">
        <header>
            <nav id="menu">
                <span id="fechar">&times;</span>
                <img src="../img/logo.png" alt="logo">
                <h1>Oferte e Ganhe</h1>
                <ul>
                    <li><a href="#" id="mostrarEnvioTaloes"><i class="fas fa-shipping-fast"></i> Gestão de Envios</a></li>
                    <li><a href="#" id="mostrarManutencao"><i class="fas fa-tools"></i> Manutenção de Envios</a></li>
                    <li><a href="#" id="mostrarEstoque"><i class="fas fa-boxes"></i> Gestão de Estoque</a></li>
                    <li><a href="#" id="mostrarLojas" class="ativo"><i class="fas fa-store"></i> Gestão de Lojas</a></li>
                    <li><a href="#" id="mostrarPerfil"><i class="fas fa-user-cog"></i> Gestão de Perfil de Acesso</a></li>
                    <li><a href="#" id="mostrarRelatorio" ><i class="fas fa-chart-line"></i> Dashboard</a></li>
                </ul>
                <div class="usuario">
                    <i class="fas fa-user usuario-icon" ></i> 
                    <div id="usuario-info">
                        <p id="usuario-nome"></p>
                        <p id="usuario-matricula"></p>
                    </div>
                    <div id="sair-usuario">
                        <i class="fas fa-sign-out-alt sair-icon" id="sair"></i>
                        <p class="usuario-sair">Sair</p>
                    </div> 
                </div>
            </nav>
            <button id="menuButton" >&#9776;</button>
            <h1 class="tituloMobile">Oferte e Ganhe</h1>
        </header>

        <main>
            <section id="lojas">
                <div class="alternador">
                    <div class="seletor">
                      <div id="todasLojas" class="opcao ativo">Todos</div>
                      <div id="cadastroLoja" class="opcao inativo">Cadastrar</div>
                      <div class="indicador" id="indicadorLojas"></div>
                    </div>
                </div>
                
                <article id="seletorLojas">
                    <h2>Lojas Quero Quero</h2>
                    <div class="filtro-container">
                        <label for="filtroLojaLojas">Loja:</label>
                        <select id="filtroLojaLojas" name="filtroLojaLojas">
                            <option value="asc">A - Z</option>
                            <option value="desc">Z - A</option>
                        </select>
                        <button id="exportarLojas" class="exportarCSV">Exportar</button>
                    </div>
                    
                    <div class="tabela-container">
                        <table>
                            <thead class="headTabela">
                                <tr>
                                    <th>Codigo</th>
                                    <th>Loja</th>
                                    <th>Gerente</th>
                                    <th>Qnt. Recomendada</th>
                                    <th>Qnt. Mínima</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody id="lojas-tbody">
                            </tbody>
                        </table>
                    </div>
                    <div class="paginacao">
                        <button id="pagAntLojas" disabled><i class="fas fa-chevron-left"></i> Anterior</button>
                        <span id="pagInfoLojas"></span>
                        <button id="proxPagLojas">Próxima <i class="fas fa-chevron-right"></i></button>
                    </div>
                </article>

                <article id="seletorCadastroLoja" style="display: none;">
                    <h2>Cadastro de Loja</h2>
                    <form id="formSalvarLoja">
                        <label for="novaLoja">Nome da Loja:</label>
                        <input type="text" id="novaLoja" name="novaLoja" placeholder="Loja 01" required>

                        <label for="telefoneLoja">Telefone:</label>
                        <input type="tel" id="telefoneLoja" name="telefoneLoja" placeholder="31 975485987">

                        <label for="enderecoLoja">Endereço:</label>
                        <input type="text" id="enderecoLoja" name="enderecoLoja" placeholder="Rua dores de campos, 456">

                        <div class="grid-container-label">
                            <div>
                                <label for="cepLoja">Cep:</label>
                                <input type="text" id="cepLoja" name="cepLoja" pattern="\d*" title="Apenas números são permitidos" oninput="this.value = this.value.replace(/[^0-9]/g, '');" placeholder="1234567">                            </div>
                            <div>
                                <label for="cidadeEstadoLoja">Cidade/UF:</label>
                                <input type="text" id="cidadeEstadoLoja" name="cidadeEstadoLoja" placeholder="Ourinhos/SP">
                                <div id="suggestions" class="suggestions"></div>
                            </div>
                        </div>

                        <button type="submit" id="submitButtonLoja">Salvar Loja</button>
                    </form>
                </article>
            </section>

        </main>
    </div>
    <footer>
        <p>Quero-Quero 2024 | todos os direitos reservados</p>
    </footer>
</body>
</html>