<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Acesso</title>
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../style/geral.css">
    <link rel="stylesheet" href="../../style/adm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../../js/adm/script/perfilAcesso.js" type="module"></script>
    <script src="../../js/adm/menu.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="main">
        <header>
            <nav id="menu">
                <span id="fechar">&times;</span>
                <img src="../img/logo.png" alt="logo">
                <h1>Oferte e Ganhe</h1>
                <ul>
                    <li><a href="#" id="mostrarEnvioTaloes"><i class="fas fa-shipping-fast"></i> Gestão de Envios</a></li>
                    <li><a href="#" id="mostrarManutencao"><i class="fas fa-tools"></i> Manutenção de Envios</a></li>
                    <li><a href="#" id="mostrarEstoque"><i class="fas fa-boxes"></i> Gestão de Estoque</a></li>
                    <li><a href="#" id="mostrarLojas"><i class="fas fa-store"></i> Gestão de Lojas</a></li>
                    <li><a href="#" id="mostrarPerfil" class="ativo"><i class="fas fa-user-cog"></i> Gestão de Perfil de Acesso</a></li>
                    <li><a href="#" id="mostrarRelatorio" ><i class="fas fa-chart-line"></i> Dashboard</a></li>
                </ul>
                <div class="usuario">
                    <i class="fas fa-user usuario-icon" ></i> 
                    <div id="usuario-info">
                        <p id="usuario-nome"></p>
                        <p id="usuario-matricula"></p>
                    </div>
                    <div id="sair-usuario">
                        <i class="fas fa-sign-out-alt sair-icon" id="sair"></i>
                        <p class="usuario-sair">Sair</p>
                    </div> 
                </div>
            </nav>
            <button id="menuButton" >&#9776;</button>
            <h1 class="tituloMobile">Oferte e Ganhe</h1>
        </header>

        <main>
            <section id="perfil" >
                <div class="alternador" style="width: 300px;">
                    <div class="seletor">
                      <div id="usuarios" class="opcao ativo">Usuários</div>
                      <div id="cadastroUsuario" class="opcao inativo">Cadastrar</div>
                      <div id="perfis" class="opcao inativo">Perfil</div>
                      <div class="indicador" id="indicadorPerfis" style="width: 33%;"></div>
                    </div>
                </div>

                <article id="seletorUsuarios">
                    <h2>Perfis de Usuario</h2>
                    <div class="filtro-container">
                        <div id="mostrarFiltroContainer" class="mostrarFiltro" >
                            <Label>Filtros:</Label>
                            <i class="fas fa-chevron-down iconeFiltro"  onclick="mostrarFiltros('opcoesFiltro', 'mostrarFiltroContainer')"></i>
                        </div> 
                        <div class="filtro" id="opcoesFiltro">
                            <div class="container-nome">
                                <label for="filtroUsuarioPerfis">Nome:</label>
                                <input type="text" name="filtroUsuarioPerfis" id="filtroUsuarioPerfis">
                            </div>
                        
                            <div class="container-selects">
                                <label for="ordenarUsuario">Nome:</label>
                                <select id="ordenarUsuario" name="ordenarUsuario">
                                    <option value="asc">A - Z</option>
                                    <option value="desc">Z - A</option>
                                </select>
                                <label for="ordenarLojaUsuario">Loja:</label>
                                <select id="ordenarLojaUsuario" name="ordenarLojaUsuario">
                                    <option value="asc">A - Z</option>
                                    <option value="desc">Z - A</option>
                                </select>
                            </div>
                        </div>
                        <button id="exportarPerfis" class="exportarCSV" onclick="exportarCsv()">Exportar</button>
                    </div>

                    <div class="tabela-container">
                        <table>
                            <thead class="headTabela">
                                <tr>
                                    <th>Matricula</th>
                                    <th>Nome</th>
                                    <th>Tipo usuário</th>
                                    <th>Loja</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody id="usuarios-tbody">    
                            </tbody>
                        </table>
                    </div>
                    <div class="paginacao">
                        <button id="pagAntUsuarios" disabled><i class="fas fa-chevron-left"></i> Anterior</button>
                        <span id="pagInfoUsuarios"></span>
                        <button id="proxPagUsuarios">Próxima <i class="fas fa-chevron-right"></i></button>
                    </div>
                </article>

                <article id="seletorCadastro"  style="display: none;">
                    <h2>Cadastro de Usuário</h2>
                    <form id="formCadUsuario">
                        <label for="matriculaUsuario">Matricula do Usuario:</label>
                        <input type="text" id="matriculaUsuario" name="matriculaUsuario" required>
                        
                        <label for="nomeUsuario">Nome do Usuario:</label>
                        <input type="text" id="nomeUsuario" name="nomeUsuario" required>

                        <label for="tipoUsuario">Tipo Perfil:</label>
                        <select id="tipoUsuario" name="tipoUsuario">
                        </select>
                        
                        <label for="lojaUsuario">Loja:</label>
                        <select id="lojaUsuario" name="lojaUsuario">
                        </select>
                        <button type="submit" id="submitButtonUser">Salvar Usuário</button>
                    </form>
                </article>

                <article id="seletorPerfis" style="display: none;">
                    <h2>Perfis de Acesso</h2>
                    <div class="tabela-container" style="height: 80%;">
                        <button id="mostrarCadastrarPerfil" class="exportarCSV" style="margin-bottom: .5em;">Add Perfil</button>
                        <table id="tabelaPerfis">
                            <thead class="headTabela">
                                <tr>
                                    <th>Nome</th>
                                    <th>Permissões</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody id="perfis-tbody">
                            </tbody>
                        </table>
                    </div>
                </article>
                
                <article class="modal" id="addPerfil">
                    <aside class="modalContent">
                        <div class="fechar">
                            <i class="fas fa-times close-icon" id="fecharMostrarAddPerfil"></i>
                        </div>
                        <h2>Cadastrar Perfil</h2>
                        <form id="perfilCadastroForm">
                            <label for="nomePerfil">Nome do Perfil:</label>
                            <input type="text" id="nomePerfil" name="nomePerfil" required>

                            <label for="permissoesPerfil">Permissões:</label>
                            <div class="tabela-container">
                                <table >
                                    <thead class="headTabela">
                                        <tr>
                                            <th>Módulo</th>
                                            <th>Leitura</th>
                                            <th>Escrita</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Perfis -->
                                        <tr>
                                            <td data-label="Módulo">Perfis</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Perfis"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Perfis"></td>
                                        </tr>
                                        <!-- Permissões -->
                                        <tr>
                                            <td data-label="Módulo">Permissões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Permissões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Permissões"></td>
                                        </tr>
                                        <!-- Usuários -->
                                        <tr>
                                            <td data-label="Módulo">Usuários</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Usuarios"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Usuarios"></td>
                                        </tr>
                                        <!-- Lojas -->
                                        <tr>
                                            <td data-label="Módulo">Lojas</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Lojas"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Lojas"></td>
                                        </tr>
                                        <!-- Estoque -->
                                        <tr>
                                            <td data-label="Módulo">Estoque</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Estoque"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Estoque"></td>
                                        </tr>
                                        <!-- Envio Talões -->
                                        <tr>
                                            <td data-label="Módulo">Envio Talões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Envio Talões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Envio Talões"></td>
                                        </tr>
                                        <!-- Saída Talões -->
                                        <tr>
                                            <td data-label="Módulo">Saída Talões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Saída Talões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Saída Talões"></td>
                                        </tr>
                                        <tr>
                                            <td data-label="Módulo">Relatórios</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Relatorios"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Relatorios"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" id="submitButtonPerfil">Salvar Perfil</button>
                        </form>
                    </aside>
                </article>


                <article class="modal" id="modalVisualizarPermissoes">
                    <aside class="modalContent">
                        <div class="fechar">
                            <i class="fas fa-times close-icon" id="fecharModalVisualizarPermissoes"></i>
                        </div>
                        <h2 id="nomePerfilTitulo"></h2>
                        <div class="tabela-container">
                            <table>
                                <thead class="headTabela">
                                    <tr>
                                        <th>Funcionalidade</th>
                                        <th>Leitura</th>
                                        <th>Escrita</th>
                                    </tr>
                                </thead>
                                <tbody id="corpoTabelaPermissoes">
                                    <!-- Todas as permissões -->
                                    <tr>
                                        <td data-label="Módulo">Todas</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Todas"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Todas"></td>
                                    </tr>
                                    <!-- Perfis -->
                                    <tr>
                                        <td data-label="Módulo">Perfis</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Perfis"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Perfis"></td>
                                    </tr>
                                    <!-- Permissões -->
                                    <tr>
                                        <td data-label="Módulo">Permissões</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Permissões"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Permissões"></td>
                                    </tr>
                                    <!-- Usuários -->
                                    <tr>
                                        <td data-label="Módulo">Usuários</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Usuarios"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Usuarios"></td>
                                    </tr>
                                    <!-- Lojas -->
                                    <tr>
                                        <td data-label="Módulo">Lojas</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Lojas"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Lojas"></td>
                                    </tr>
                                    <!-- Estoque -->
                                    <tr>
                                        <td data-label="Módulo">Estoque</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Estoque"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Estoque"></td>
                                    </tr>
                                    <!-- Envio Talões -->
                                    <tr>
                                        <td data-label="Módulo">Envio Talões</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Envio Talões"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Envio Talões"></td>
                                    </tr>
                                    <!-- Saída Talões -->
                                    <tr>
                                        <td data-label="Módulo">Saída Talões</td>
                                        <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Saída Talões"></td>
                                        <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Saída Talões"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </aside>
                </article>

                <article class="modal" id="modalEditPerfil">
                    <aside class="modalContent">
                        <div class="fechar">
                            <i class="fas fa-times close-icon" id="fecharModalEditPermissoes"></i> 
                        </div>
                        <h2 id="nomePerfilTituloEdit"></h2>
                        <form id="formSalvarEditarPermissoes">
                            <div class="tabela-container">
                                <table >
                                    <thead class="headTabela">
                                        <tr>
                                            <th>Funcionalidade</th>
                                            <th>Leitura</th>
                                            <th>Escrita</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Perfis -->
                                        <tr>
                                            <td data-label="Módulo">Perfis</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Perfis"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Perfis"></td>
                                        </tr>
                                        <!-- Permissões -->
                                        <tr>
                                            <td data-label="Módulo">Permissões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Permissões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Permissões"></td>
                                        </tr>
                                        <!-- Usuários -->
                                        <tr>
                                            <td data-label="Módulo">Usuários</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Usuarios"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Usuarios"></td>
                                        </tr>
                                        <!-- Lojas -->
                                        <tr>
                                            <td data-label="Módulo">Lojas</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Lojas"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Lojas"></td>
                                        </tr>
                                        <!-- Estoque -->
                                        <tr>
                                            <td data-label="Módulo">Estoque</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Estoque"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Estoque"></td>
                                        </tr>
                                        <!-- Envio Talões -->
                                        <tr>
                                            <td data-label="Módulo">Envio Talões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Envio Talões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Envio Talões"></td>
                                        </tr>
                                        <!-- Saída Talões -->
                                        <tr>
                                            <td data-label="Módulo">Saída Talões</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Saída Talões"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Saída Talões"></td>
                                        </tr>
                                        <tr>
                                            <td data-label="Módulo">Relatórios</td>
                                            <td data-label="Leitura"><input type="checkbox" name="permissoes" value="leitura_Relatorios"></td>
                                            <td data-label="Escrita"><input type="checkbox" name="permissoes" value="escrita_Relatorios"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" id="submitButtonPerfilPermissoes">Salvar Permissões</button>
                        </form>
                    </aside>
                </article>    
            </section>

        </main>
    </div>
    <footer>
        <p>Quero-Quero 2024 | todos os direitos reservados</p>
    </footer>
</body>
</html>